

NODE_ENV=development
PORT=8080

# MongoDB Local - Desarrollo
DATABASE_URL=mongodb+srv://usuario:password@cluster.mongodb.net/nombredb?retryWrites=true&w=majority

# JWT
JWT_SECRET=tu-secret-key

# SMTP para envío de correos
EMAIL_FROM=info@example.com
EMAIL_PASSWORD=tu-password-segura
EMAIL_HOST=mail.example.com
EMAIL_PORT=587

# Notificaciones y correos de contacto
SUPPORT_EMAIL=support@example.com
ADMIN_NOTIFICATION_EMAIL=admin@example.com
NO_REPLY_EMAIL=no-reply@example.com
INFO_EMAIL=info@example.com
ADMINISTRATION_EMAIL=administracion@example.com

# Email
FRONTEND_DOMAIN=http://localhost:3000
RESET_PASSWORD_FRONTEND_PATH=/restablecer-contrasena
EXPIRE_TIME_TOKEN_RESET_PASSWORD=30m
EXPIRE_TIME_TOKEN_USER_LOGGED=1d

# Seguridad
ADMIN_ROLE_ID=tu-admin-role-id

# API
SECURITY_API_HOSTNAME=http://localhost:8080/api/v1
USER_VALIDATION_PATHNAME=/current-user

# MercadoPago
MERCADOPAGO_ACCESS_TOKEN=tu-mercadopago-access-token
MERCADOPAGO_PUBLIC_KEY=tu-mercadopago-public-key

# URLs
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8080

# Certificados
USE_HTML_CERTIFICATE=false
